.navbar {
  text-align: right;
  color: red;
}
.navbar li {
  display: inline-block;
  padding: 10px 5px;
}

/* Providing  css to each list item of navbar */
.nav-bar-link {
  color: black;
  text-decoration: dotted;
  /* text-decoration:none; */
}

.nav-bar-link:hover {
  color: green;
  font-size: 1.2rem;
}
